{
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "plugins": [
  ],
  "rules": {
    "guard-for-in": "off",
    "no-cond-assign": "off",
    "no-param-reassign": ["error", { "props": false }],
    "no-use-before-define": "off"
  }
}
