{
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "plugins": [
    "flow-vars",
    "flowtype"
  ],
  "rules": {
    "flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1,
    "flowtype/space-after-type-colon": [
      1,
      "always"
    ],
    "flowtype/space-before-type-colon": [
      1,
      "never"
    ],
    "import/no-duplicates": 0,
    "no-cond-assign": "off",
    "no-extra-parens": "off",
    "no-duplicate-imports": "off",
    "no-param-reassign": ["error", { "props": false }],
    "no-restricted-syntax": "off",
    "no-underscore-dangle": "off",
    "no-use-before-define": "off"
  }
}
